section{
    margin-top: 170px;
}
.new-year{
    color: white;
    
    text-align: center;
    align-items: center;
    background-image:linear-gradient(rgb(0, 0,0,0.3) ,rgb(0,0,0,0.5)), url(../images/Banner\ Image.png);
max-width: 1320px;
height: 600px;
margin: 0 auto;
border-radius: 16px;

    
    
    
    

}
.bg-color{
    background-color: rgb(129, 129, 129);
}
.p{

padding: 30PX;
    font-size: 35px;
    
}
h1{
    font-size: 70px;
    
}



.noto-sans-jp-nomal{
  font-family: "Noto Sans JP", sans-serif;
   margin-bottom: 170px;
   margin-top: 170px;
  font-optical-sizing: auto;
 
  font-style: normal;
}
.offer-container{
    text-align: center;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 170px;
    line-height: 10px;
}
.heading-title{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    line-height: 10px;
}
.heading-description{
    font-size: 24px;
    font-weight: 400;
    color:  #FF0000;
}
.heading-subtitle{
    font-size: 48px;
    font-weight: 600;
    color: #070211;
}
.line-height{
    line-height: 10px;
}
.welcome-midnight{
    
    background-image:linear-gradient(rgb(0, 0,0,0.3) ,rgb(0,0,0,0.5)), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    /* background-color: goldenrod; */
    
max-width: 1120px;
height: 400px;
margin: 0 auto;
border-radius: 16px;
padding: 100px;

}
.body-width{
    width: 50%;
}
.head-welcome{
    font-size: 64px;
    color: #FFFFFF;
}
.p-descrription{
    font-size: 18px;
    color:  #c7c4c4;
    font-weight: 100px
}
.btn-p{
    font-size: 20px;
    font-weight: bold;
    border: none;
    color:  #FFFFFF;
    
}
.time{
    background-image: linear-gradient( to top,#eee2e2,#ffcccc);
   
   
border-radius: 16px; max-width: 1320px;
height: 500px;
margin: 0 auto;

/* background-color: gray; */
text-align: center;
align-items: center;



}
.time-p{
    font-size: 35px;
    font-weight: 600;
    margin-top: 170px;
    padding: 80px;
    line-height: 10px;
    
}
span{
    color: #FF0000;
}
.btn{
    /* padding:20px; */
    font-size: 20px;
    font-weight: bold;
   background-color: #FF0000;
    border-radius: 8px;
    color: white;
    margin-top: 40px;
    width: 150px;
    height: 60px;
}
.heading-3{
    font-size: 24px;
    font-weight: 600;
    color: #FF0000;
    /* line-height: 16px; */
}
.heading-2{
    font-size: 48px;
    font-weight: bold;
    line-height: 16px;
}
.dot{
    height: 340px;
  width: 340px;
  background-image: url(../images/Ellipse\ 1.png);
  background-repeat: no-repeat;
  
  border-radius: 50%;
  display: inline-block;
  border: 15px solid #FF0000;
}
.offers{
    border-radius: 16px ;max-width: 1320px;
height: 500px;
margin: 0 auto;
display: flex;
align-items: center;
gap: 70px;

margin-top: 170px;



}

.content-1{
    line-height: 16px;
}
.sale{
    text-align: center;
    
    border-radius: 16px ;max-width: 1320px;
height: 500px;
margin: 0 auto;
line-height: 28px;
    
}
.gift img{
    height: 200%;
    width: 200%; text-align: center;
    
    border-radius: 16px ;max-width: 1320px;
height: 500px;
margin: 0 auto;
}.circle{
    background-image: url(../images/Ellipse\ 1.png);
    background-repeat: no-repeat;
}